build/
build_api*/
debug_build/
out/
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.so
*.dylib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
moc_*.cpp
*_automoc.cpp
ts3sdk/
dist/
release/
*.exe

